<!-- Footer -->
<footer class="main-footer">
  <strong>Copyright &copy; <%= Date.current.year %> <a href="#">MikroTik Dashboard</a>.</strong>
  All rights reserved.
  <div class="float-right d-none d-sm-inline-block">
    <b>Version</b> 1.0.0
  </div>
</footer>